///////////////////////////////
// global
///////////////////////////////

*, *:before, *:after {
  box-sizing: inherit;
}

.em-section-all{
  width: 500px;
  margin: auto;
}
///////////////////////////////
// Login Page
///////////////////////////////

.em-heading-login{
  text-align: center;
}
.em-button-login{
  margin-left: 23%;
}


///////////////////////////////
// Home page
///////////////////////////////

.em-heading-home{
  text-align: center;
}
.em-button-home {
  width: 100%;
  text-align: center;
}


///////////////////////////////
// Assets page
///////////////////////////////

.em-heading-asset{
  text-align: center;
}
.em-button-asset {
  width: 100%;
  text-align: center;
}


///////////////////////////////
// New Assets page
///////////////////////////////

.em-heading-new-asset, .em-button-newAsset {
  text-align: center;
}

///////////////////////////////
// View Assets page
///////////////////////////////

.em-list-asset-key{
  width: 40%
}

.em-list-asset-value{
  width: 60%
}
