///////////////////////////////
// global
///////////////////////////////

*, *:before, *:after {
  box-sizing: inherit;
}

.em-section-all{
  width: 500px;
  margin: auto;
  margin-top: 5%;
}

.em-heading-all{
  text-align: center;
}

.em-index-aside{
  background-color: #3a4247;
  color: #fff;
  line-height: 40px;
  padding: 0 16px;
  position: relative;
  z-index: 2;
}

.em-index-logo{
  vertical-align: middle;
}

.em-edit-button{
  overflow: hidden;
}

.em-back-button{
  margin: 5px 0 0 5px;
}
///////////////////////////////
// Login Page
///////////////////////////////

.em-button-login{
  margin-left: 23%;
}


///////////////////////////////
// Home page
///////////////////////////////

.em-heading-home, .em-button-home {
  width: 100%;
  text-align: center;
}


///////////////////////////////
// Assets page
///////////////////////////////

.em-button-asset {
  width: 100%;
  text-align: center;
}


///////////////////////////////
// New Assets page
///////////////////////////////

.em-button-newAsset {
  text-align: center;
}

///////////////////////////////
// View Assets page
///////////////////////////////

.em-list-asset-key{
  width: 40%
}

.em-list-asset-value{
  width: 60%
}

.em-list-asset-button{
  float: right;
}

.em-list-asset-button-view-res{
  float: right;
  margin-right: 5px;
}

/////////////////////////////////
// View Assets page
///////////////////////////////

.em-button-available-assets{
  float: right;
  margin-top: 10px;
}

.em-subsection-available-assets{
  overflow: hidden;
}
