<div class="em-section-all pl-centered-section">
  <div class="pl-subsection--border">
    <h2 class="em-heading-asset pl-heading--xxlarge">Manage Assets</h2>
  </div>
  <div class="pl-subsection--divider-before">
    <a ui-sref="new_asset" class="em-button-asset pl-button--large">New Inventory</a>
  </div>
  <div class="pl-subsection--divider-before">
    <a ui-sref="view_assets" class="em-button-asset pl-button--large">View/Edit Inventory</a>
  </div>
  <div class="pl-subsection--divider-before">
    <a ui-sref="available_assets" class="em-button-asset pl-button--large">Available Assets</a>
  </div>
  <div class="pl-subsection--divider-before">
    <a ui-sref="home" class="em-button-asset pl-button--large">Go Back</a>
  </div>
</div>
