<div class="pl-centered-container">
  <div class="pl-centered-section">
    <div class="pl-subsection--border">
      <h2 class="pl-heading--large">Reservations For {{data.assetreservation.name}}</h2>
    </div>
    <!-- <div class="em-edit-button pl-subsection--border" ng-repeat="reservation in data.assetreservation | filter: afterToday ">
      <ul class="pl-detail-list">
        <li class="pl-detail-list__pair--emphasis"><strong class="em-list-asset-key pl-detail-list__key">Reserver</strong><span class="em-list-asset-value pl-detail-list__value">{{reservation.reserved_by}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Event</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.title}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Time</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.start_date_time | date: 'short'}}</span></li>
        <button ng-click="editReservation(reservation)" class="em-list-asset-button pl-button--small pl-button">Edit</button>
      </ul>
    </div> -->
    <div class="em-edit-button pl-subsection--border" ng-repeat="reservation in data.assetreservation | filter: afterToday | orderBy:'-eventStartTime':true">
      <div class="em-calendar__date">
        <span class="em-calendar__date--month" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">
          {{event.start_date_time | date: 'MMM'}}
        </span></br>
        <span class="em-calendar__date--week-and-day" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">
          {{event.start_date_time | date: 'd EEE'}}
        </span>
      </div>
      <ul class="em-calendar-asset-reservations__ul-list pl-detail-list">
        <li class="pl-detail-list__pair--emphasis"><strong class="em-list-asset-key pl-detail-list__key">Reserver</strong><span class="em-list-asset-value pl-detail-list__value">{{reservation.reserved_by}}</span></li>
        <li class="pl-detail-list__pair" ng-repeat="asset in reservation.assets"><strong class="em-list-asset-key pl-detail-list__key" ng-show="$index === 0">Items</strong><strong class="em-list-asset-key pl-detail-list__key" ng-hide="$index === 0">&zwnj;</strong><span class="em-list-asset-value pl-detail-list__value" >{{asset.name}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Event</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.title}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Time</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.start_date_time | date: 'h:mm'}}{{event.end_date_time | date: ' - h:mm a'}}</span></li>
        <button ng-click="editReservation(reservation)" class="em-list-asset-button pl-button--small pl-button">Edit</button>
      </ul>
    </div>
    <div class="pl-subsection--border pl-form-actions">
      <div class="pl-form-actions__button-container">
        <button class="em-button-newAsset pl-form-actions__button pl-button" ng-click="goBack()">Close</button>
        <button class="em-button-newAsset pl-form-actions__button pl-button" ng-click="showPast()" ng-show="noPast">Show Past Reservations</button>
        <button class="em-button-newAsset pl-form-actions__button pl-button" ng-click="hidePast()" ng-hide="noPast">Hide Past Reservations</button>
        <button class="em-button-newAsset pl-form-actions__button pl-button--primary" ng-click="reserveAsset(data.assetreservation)">New Reservation</button>
      </div>
    </div>
  </div>
</div>
