<div class="pl-centered-container">
  <div class="pl-centered-section">
    <div class="pl-subsection--border">
      <h2 class="em-heading-all pl-heading--xxlarge">Available Assets</h2>
    </div>
    <div class="em-subsection-available-assets pl-subsection--border">
      <form>
        <div class="pl-split__container">
          <div class="pl-field__container pl-split--half">
            <label class="pl-field__label">Start Date:</label>
            <input class="pl-field--full" type="date" ng-model="startDate"/>
          </div>
          <div class="pl-field__container pl-split--half">
            <label class="pl-field__label">Start Time:</label>
            <input class="pl-field--full" type="time" ng-model="startTime"/>
          </div>
        </div>
        <div class="pl-split__container">
          <div class="pl-field__container pl-split--half">
            <label class="pl-field__label">End Date:</label>
            <input class="pl-field--full" type="date" ng-model="endDate"/>
          </div>
          <div class="pl-field__container pl-split--half">
            <label class="pl-field__label">End Time:</label>
            <input class="pl-field--full" type="time" ng-model="endTime"/>
          </div>
        </div>
      </form>
    </div>
    <div class="pl-subsection--border pl-form-actions">
      <div class="pl-form-actions__button-container">
        <button class="pl-form-actions__button pl-button--primary" ng-click="getAvailable()">Filter Available by Date</button>
      </div>
    </div>
    <div class="em-edit-button pl-subsection--border" ng-repeat="asset in assets">
      <ul class="pl-detail-list">
        <li class="pl-detail-list__pair--emphasis"><strong class="em-list-asset-key pl-detail-list__key">Name</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.name}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Description</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.description}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Category</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.category}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Notes</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.notes}}</span></li>
        <button ng-click="reserveAsset(asset.id)" class="em-list-asset-button pl-button--small pl-button--primary">Reserve</button>
      </ul>
    </div>
  </div>
</div>
