<div class="em-calendar__container">
  <div class="em-calendar__nav"></div>
  <div class="em-calendar__section" ng-repeat="reservation in reservations | orderBy:'-eventStartTime':true | filter:afterToday">
    <div class="em-calendar__date" ng-if="dateFilter(reservation.eventStartTime, reservations[$index - 1].eventStartTime)">
      <span class="em-calendar__date-num">{{reservation.eventStartTime | date: 'MMM'}}</span>
      <span class="em-calendar__date-weekday">{{reservation.eventStartTime | date: 'd EEE'}}</span>
    </div>
    <div class="em-calendar__event" ng-class="{ 'em-calendar__event--same-date' : !dateFilter(reservation.eventStartTime, reservations[$index - 1].eventStartTime)}">
      <div class="em-calendar__event--time">
        <p>{{reservation.eventStartTime | date: 'h:mm'}}{{reservation.eventEndTime | date: '- h:mm a'}}</p>
      </div>
      <div class="em-calendar__event--info">
        <p>{{reservation.eventTitle}}</p>
      </div>
    </div>
  </div>
</div>
