<div class="pl-centered-container">
  <div class="pl-centered-section">
      <div class="pl-subsection--border">
        <h2 class="em-heading-new-asset pl-heading--xxlarge">Edit Reservation</h2>
      </div>
      <form>
        <div class="pl-subsection--border">
          <label for="select-event" class="pl-field__label">Select Event</label>
          <select id="select-event"  class="pl-select--full" ng-model="selectedEvent" ng-options="event as event.title for event in eventsAfterToday track by event.id" ng-change="getAvailable()">
          </select>
        </div>
        <div class="pl-subsection--border">
          <fieldset>
            <legend class="pl-field__label">Select Available Items</legend>
            <div class="pl-option" ng-repeat="asset in assets track by $index">
              <input type="checkbox" id="asset-{{asset.id}}" class="pl-option__input" ng-model="asset.selected">
              <label for="asset-{{asset.id}}" class="pl-option__label">{{asset.name}}</label>
            </div>
          </fieldset>
        </div>
        <div class="pl-subsection--border">
          <label for="reserved-by" class="pl-field__label">Reserved By:</label>
          <input id="reserved-by" type="text" class="pl-field--full" ng-model="reservedBy">
        </div>
        <div class="pl-subsection--border pl-form-actions">
          <div class="pl-form-actions__button-container">
            <button class="em-button-newReservation pl-form-actions__button pl-button" ng-click="cancel()">Cancel</button>
            <button class="em-button-newReservation pl-form-actions__button pl-button" ng-click="deleteReservation()">Delete Reservation</button>
            <button class="em-button-newReservation pl-form-actions__button pl-button--primary" ng-click="updateReservation()">Submit Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
