<div class="pl-centered-container">
  <div class="pl-centered-section">
    <div class="pl-subsection--border">
      <h2 class="em-heading-all pl-heading--xxlarge">Equipment Manager</h2>
    </div>
    <div class="pl-subsection--divider-before">
      <div class="pl-subsection--divider-before">
        <a ui-sref="assets" class="em-button-home pl-button--large">Manage Inventory</a>
      </div>
      <div class="pl-subsection--divider-before">
        <a ui-sref="reservations" class="em-button-home pl-button--large">View Reservations</a>
      </div>
      <div class="pl-subsection--divider-before">
        <p class="em-heading-home pl-heading--large">Upcoming Reservations</p>
      </div>
      <div class="pl-subsection--divider-before">
        <p class="em-heading-home pl-heading--large" ng-repeat="reservation in data.reservations">
          <div class="pl-media--centered" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">
            <div class="pl-media__image">{{event.start_date_time | date: 'MMM d'}}</div>
            <div class="pl-media__body">
              <h2>{{event.title}}</h2>
              <p>Items Reserved: {{reservation.assets.length}}</p>
            </div>
          </div>

          <!-- <span ng-repeat="event in data.events | filter: {'id': reservation.event_id}">
            {{event.start_date_time | date: 'MMM d'}}, {{event.title}}
          </span>
          <span>
            Number of items reserved: {{reservation.assets.length}}
          </span> -->
        </p>
      </div>
      <div class="pl-subsection--divider-before">
        <a ui-sref="calendar" class="em-button-home pl-button--large">View Calendar</a>
      </div>
    </div>
  </div>
</div>
