<div class="em-section-all pl-centered-section">
  <div class="pl-subsection--border">
    <h2 class="em-heading-home pl-heading--xxlarge">Equipment Manager</h2>
  </div>
  <div class="pl-subsection--divider-before">
    <div class="pl-subsection--divider-before">
      <a ui-sref="assets" class="em-button-home pl-button--large">Manage Inventory</a>
    </div>
    <div class="pl-subsection--divider-before">
      <a ui-sref="reservations" class="em-button-home pl-button--large">New Reservation</a>
    </div>
    <div class="pl-subsection--divider-before">
      <p class="em-heading-home pl-heading--large">Upcoming Reservations</p>
    </div>
    <div class="pl-subsection--divider-before">
      <a ui-sref="calendar" class="em-button-home pl-button--large">View Calender</a>
    </div>
  </div>
</div>
