<div class="pl-centered-container">
  <div class="pl-centered-section">
      <div class="pl-subsection--border">
        <h2 class="pl-heading--large">Create Reservation</h2>
      </div>
      <form name="selectEvent">
        <div class="pl-subsection--border">
          <label for="select-event" class="pl-field__label">Select Event</label>
          <select name="event" id="select-event" class="pl-select--full" ng-model="selectedEvent" ng-options="event as event.title for event in data.eventsAfterToday track by event.id" ng-change="getAvailable()" required="">
          </select>
        </div>
        <div class="pl-subsection--border">
          <fieldset>
            <legend class="pl-field__label">Select Available Items</legend>
            <div class="pl-option" ng-repeat="asset in assets">
              <input type="checkbox" id="asset-{{asset.id}}" class="pl-option__input" ng-model="asset.selected">
              <label for="asset-{{asset.id}}" class="pl-option__label">{{asset.name}}</label>
            </div>
            <div class="pl-alert-panel" ng-if="!selectedEvent">
              <div class="pl-alert-panel__inner">
                <svg class="pl-alert-panel__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-info-circle-o"></use></svg>
                <div class="pl-alert-panel__content">
                  <h4 class="pl-alert-panel__title">Please Select an Event</h4>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="pl-subsection--border">
          <label for="reserved-by" class="pl-field__label">Reserved By:</label>
          <input name="reservedBy" id="reserved-by" type="text" class="pl-field--full" ng-model="reservedBy" required="">
          <div ng-show="selectEvent.$submitted || selectEvent.reservedBy.$touched">
            <div ng-show="selectEvent.reservedBy.$error.required">*Reserved For  Required*</div>
          </div>
        </div>
        <div class="pl-subsection--border pl-form-actions">
          <div class="pl-form-actions__button-container">
            <button class="em-button-newReservation pl-form-actions__button pl-button" ng-click="cancel()">Cancel</button>
            <button ng-disabled="selectEvent.reservedBy.$error.required || selectEvent.event.$error.required" class="em-button-newReservation pl-form-actions__button pl-button--primary" ng-click="createReservation()" value="Create Reservation" ui-sref="reservations" ui-sref-opts="{reload: true, notify: true}"> 
              Submit
            </button>
        </div>
      </form>
    </div>
  </div>
</div>
