<div class="pl-centered-container">
  <div class="pl-centered-section">
    <div class="pl-subsection--border">
      <h2 class="em-heading-all pl-heading--large">Add New Item to Inventory</h2>
    </div>
    <div class="pl-subsection--border">
      <form name="form">
        <div class="pl-split__container">
          <div class="pl-field__container pl-split--half">
            <label for="asset-name" class="pl-field__label">Name:</label>
            <input id="asset-name" name="name" type="text" class="pl-field--full" ng-model="data.name" required="">
          </div>
          <div class="pl-field__container pl-split--half">
            <label for="asset-category" class="pl-field__label">Category</label>
            <select id="asset-category" class="pl-select--full" ng-model="data.category" name="category">
              <option ng-repeat="category in categoryList">{{category}}</option>
            </select>
          </div>
        </div>

        <div ng-show="form.$submitted || form.name.$touched">
          <div ng-show="form.name.$error.required">*Item Name Required*</div>
        </div>

        <div class="pl-field__container">
          <label for="asset-description" class="pl-field__label">Item Description</label>
          <input id="asset-description" name="description" type="text" class="pl-field pl-field--full" ng-model="data.description">
        </div>
        <div class="pl-field__container">
          <label for="asset-additional-notes" class="pl-field__label">Additional Notes:</label>
          <textarea id="asset-additional-notes" class="pl-field--full" ng-model="data.notes"></textarea>
        </div>
        <br/>
        <div>
          <button class="pl-button--small" type="file" name="file" id="file" ng-model="upload.file" ngf-select ngf-max-size="25MB" required>Upload Image</button>
        </div>
      </form>
    </div>
    <div class="pl-subsection--border pl-form-actions">
      <div class="pl-form-actions__button-container">
        <button class="em-button-newAsset pl-form-actions__button pl-button" ng-click="closeOverlay()" ui-sref="view_assets({new:true})" ui-sref-opts="{reload: true, notify: true}">Cancel</button>
        <button type="submit" ng-disabled="form.name.$error.required" class="em-button-newAsset pl-form-actions__button pl-button--primary" ng-click="submitAsset()" ui-sref="view_assets({new:true})" ui-sref-opts="{reload: true, notify: true}">Submit</button>
      </div>
    </div>
  </div>
</div>
</div>
