<div class="em-section-all pl-centered-section">
  <div class="pl-subsection--border">
    <h2 class="em-heading-all pl-heading--xxlarge">Reservations</h2>
  </div>
  <div class="pl-subsection--border pl-form-actions">
    <div class="pl-form-actions__button-container">
      <button class="em-button-newAsset pl-form-actions__button pl-button" ui-sref="new_reservation">New Reservation</button>
      <button class="em-button-newAsset pl-form-actions__button pl-button" ui-sref="home">Go Back</button>
    </div>
  </div>
  <div class="pl-subsection--border" ng-repeat="reservation in data.reservations">
    <ul class="pl-detail-list">
      <li class="pl-detail-list__pair--emphasis"><strong class="em-list-asset-key pl-detail-list__key">Reserver</strong><span class="em-list-asset-value pl-detail-list__value">{{reservation.reserved_by}}</span></li>
      <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Event</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.title}}</span></li>
      <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Assets</strong><span class="em-list-asset-value pl-detail-list__value">{{reservation.assets}}</span></li>
      <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Time</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.start_date_time | date: 'medium'}}</span></li>
      <button ng-click="editReservation(reservation)" class="em-list-asset-button pl-button--small pl-button--primary">Edit</button>
    </ul>
  </div>
</div>
