<div class="pl-centered-container">
  <div class="pl-centered-section">
    <div class="pl-subsection--border">
      <h2 class="pl-heading--xlarge">Reservations</h2>
    </div>
    <div class="pl-subsection--border pl-form-actions">
      <div class="pl-form-actions__button-container">
        <button class="em-button-newAsset pl-form-actions__button pl-button--primary" ui-sref="new_reservation">New Reservation</button>
      </div>
    </div>
    <form>
      <div class="pl-subsection--border">
        <label for="select-event" class="pl-field__label">View Reservations By Event</label>
        <select id="select-event"  class="pl-select--full" ng-model="selectedEvent" ng-options="event as event.title for event in eventsList track by event.id" ng-change="filterReservations()">
        </select>
      </div>
    </form>
    <div class="em-edit-button pl-subsection--border" ng-repeat="reservation in reservations">
      <ul class="pl-detail-list">
        <li class="pl-detail-list__pair--emphasis"><strong class="em-list-asset-key pl-detail-list__key">Reserver</strong><span class="em-list-asset-value pl-detail-list__value">{{reservation.reserved_by}}</span></li>
        <li class="pl-detail-list__pair" ng-repeat="asset in reservation.assets"><strong class="em-list-asset-key pl-detail-list__key" ng-show="$index === 0">Items</strong><strong class="em-list-asset-key pl-detail-list__key" ng-hide="$index === 0">&zwnj;</strong><span class="em-list-asset-value pl-detail-list__value" >{{asset.name}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Event</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.title}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Time</strong><span class="em-list-asset-value pl-detail-list__value" ng-repeat="event in data.events | filter: {'id': reservation.event_id}">{{event.start_date_time | date: 'short'}}</span></li>
        <button ng-click="editReservation(reservation)" class="em-list-asset-button pl-button--small pl-button">Edit</button>
      </ul>
    </div>
  </div>
  <div class="pl-alert-panel" ng-show="noRecord">
    <div class="pl-alert-panel__inner">
      <!--<button title="Close" class="pl-alert-panel__close">Close</button>-->
      <svg class="pl-alert-panel__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-info-circle-o"></use></svg>
      <div class="pl-alert-panel__content">
        <h4 class="pl-alert-panel__title">No Reservations</h4>
        <p>There are no reservations associated with this event</p>
      </div>
    </div>
  </div>
</div>
