<div class="pl-centered-container">
  <div class="pl-centered-section">
      <div class="pl-subsection--border">
        <h2 class="pl-heading--xlarge">Create Reservation</h2>
      </div>
      <form>
        <div class="pl-subsection--border">
          <label for="select-event" class="pl-field__label">Select From Events Item is Available For</label>
          <select id="select-event"  class="pl-select--full" ng-model="selectedEvent" ng-options="event as event.title for event in events track by event.id" ng-change="getAvailable()">
          </select>
        </div>

                            <!-- VV  !!!Look Here Liz!!! VV -->
        <div class="pl-subsection--border">
          <fieldset>
            <legend class="pl-field__label">Select Additional Available Items</legend>

            <div class="pl-option">
              <input type="checkbox" id="asset-{{firstAsset.id}}" class="pl-option__input" ng-model="firstAsset.selected" checked>
              <label for="asset-{{firstAsset.id}}" class="pl-option__label">{{firstAsset.name}}</label>
            </div>

            <div class="pl-option" ng-repeat="asset in assets">
              <input type="checkbox" id="asset-{{asset.id}}" class="pl-option__input" ng-model="asset.selected">
              <label for="asset-{{asset.id}}" class="pl-option__label">{{asset.name}}</label>
            </div>
          </fieldset>
        </div>
                                  <!-- Stop Looking -->

        <div class="pl-subsection--border">
          <label for="reserved-by" class="pl-field__label">Reserved By:</label>
          <input id="reserved-by" type="text" class="pl-field--full" ng-model="reservedBy">
        </div>
        <div class="pl-subsection--border pl-form-actions">
          <div class="pl-form-actions__button-container">
            <button class="em-button-newReservation pl-form-actions__button pl-button" ng-click="cancel()">Cancel</button>
            <button class="em-button-newReservation pl-form-actions__button pl-button--primary" ng-click="createReservation()" value="Create Reservation">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
