<div class="pl-centered-container">
  <div class="pl-centered-section">
    <div class="pl-subsection--border">
      <a class="em-add-button-assets pl-button--primary" ui-sref="view_assets.new_asset" ui-sref-opts="{location: replace}" ng-click="data.showOverlay = true">Add item</a>
      <div class="pl-overlay" ng-if="data.showOverlay">
        <div class="pl-overlay__content pl-centered-container">
          <div ui-view></div>
        </div>
      </div>
      <h2 class="em-heading-assets pl-heading--large">View Inventory</h2>
    </div>
    <div class="pl-subsection--border">
      <form>
        <div class="pl-split__container">
          <div class="pl-field__container pl-split--half">
            <label for="item-name" class="pl-field__label">Item Name</label>
            <input id="item-name" type="text" ng-model="searchKeyword" class="pl-field--full" ng-change="getAvailable()">
          </div>
          <div class="pl-field__container pl-split--half">
            <label for="sort-by" class="pl-field__label">Sort By</label>
            <select id="sort-by" class="pl-select--full" ng-model="sortBy" ng-change="getAvailable()">
              <option ng-repeat="option in sortOptions">{{option}}</option>
            </select>
          </div>
        </div>
        <div class="pl-split__container">
          <div class="pl-field__container pl-split--half">
            <label for="available-start" class="pl-field__label">Available Beginning (optional)</label>
            <input id="available-start" class="pl-field--full" type="date" ng-model="startDate" ng-change="getAvailable()"/>
          </div>
          <div class="pl-field__container pl-split--half">
            <label for="available-end" class="pl-field__label">Available Ending (optional)</label>
            <input id="available-end" class="pl-field--full" type="date" ng-model="endDate" ng-change="getAvailable()"/>
          </div>
        </div>
      </form>
    </div>
    <div class="em-view-assets-progress-bar pl-progress__container" ng-hide="assets.length || noRecord">
      <p class="pl-progress__label">Loading...</p>
      <div class="pl-progress">
        <div role="progressbar" class="pl-progress__bar--indeterminate"></div>
      </div>
    </div>
    <div class="em-edit-button pl-subsection--border" ng-repeat="asset in assets">
      <ul class="pl-detail-list">
        <li class="pl-detail-list__pair--emphasis"><strong class="em-list-asset-key pl-detail-list__key">Name</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.name}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Description</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.description}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Category</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.category}}</span></li>
        <li class="pl-detail-list__pair"><strong class="em-list-asset-key pl-detail-list__key">Notes</strong><span class="em-list-asset-value pl-detail-list__value">{{asset.notes}}</span></li>
      </ul>
      <button ui-sref="view_assets.edit_asset" ui-sref-opts="{location: replace}" ng-click="editAsset(asset)" class="em-list-asset-button pl-button--small pl-button">
        <svg class="pl-icon--left"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-pencil"></use></svg>Edit
      </button>
      <button ui-sref="view_assets.asset_reservations" ui-sref-opts="{location: replace}" ng-click="viewReservations(asset)" class="em-list-asset-button-view-res pl-button--small pl-button">View Reservations</button>
    </div>
  </div>
  <div class="pl-alert-panel" ng-show="noRecord">
    <div class="pl-alert-panel__inner">
      <svg class="pl-alert-panel__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-info-circle-o"></use></svg>
      <div class="pl-alert-panel__content">
        <h4 class="pl-alert-panel__title">Not Available</h4>
        <p>There are no assets avaialbe that meet that description</p>
      </div>
    </div>
  </div>
</div>
