<p>Find An Asset!</p>

<label>Item Name: </label><input type="text" ng-model="searchKeyword"/>
<br />

<label>Sort By: </label>
    <select ng-model="sortBy">
      <option ng-repeat="option in sortOptions">{{option}}</option>
    </select>
  <br />
  <br />
<button ng-click="getAssets()">View Inventory</button>
<a ui-sref="assets"><button>Go Back</button></a>

<div ng-repeat="asset in assets">
  <h4>{{asset.name}}</h4>
  <p>
    {{asset.description}}<br />
    {{asset.category}}<br />
    {{asset.notes}}
  </p>
  <button ng-click="editAsset(asset)">Edit</button>
  <br />
</div>
